/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #F8F0E5; 

}

.text-center{
    text-align: center;
}
.width{
    width: 20%;
}
.text-right{
    text-align: right;
}


.ml20{
    margin-left: 1.25rem !important;
}
.mr20{
    margin-right: 1.25rem !important;
}
.mt20{
    margin-top: 1.25rem  !important;
}
.mb20{
    margin-bottom: 1.25rem !important;
}

.ml10{
    margin-left: 0.6rem !important;
}
.mr10{
    margin-right: 0.6rem !important;
}
.mt10{
    margin-top: 0.6rem  !important;
}
.mb10{
    margin-bottom: 0.6rem !important;
}